@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
body {
  color: #494949;
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1240px;
  background-color: #fff;

  @media screen and (max-width: 768px) {
    max-width: calc(100vw - 60px);
  }
}
